/*=========首页========*/
.banner{height: 300px;}
.layer{
	overflow: hidden;
	height: auto;
	padding:10px 0px;
}
.bg1 .layer h2{
	font-size: 20px;
	color: #fff;
	line-height: 36px;
	border-bottom: 3px #fff solid;
	margin-bottom: 15px;
}
.bg2 .layer h2{
	font-size: 20px;
	color: #0884F7;
	line-height: 36px;
	border-bottom: 3px #0884F7 solid;
	margin-bottom: 15px;
}
.layer h2 span{
	float:right; 
	padding-right:15px; 
	font-size: 12px;
}

.newsfoucs{
	width:500px;
	float:left;
}
.infobox{ 
	width:535px;
	float:right;
	color: #ccc;}
.infobox h6{font-size: 16px; line-height: 32px; color: #fff}
.infobox p{line-height: 24px; text-indent: 2em;margin-bottom: 5px;}
.humanity li{
	width:200px; 
	float:left;
	margin-right: 10px;
}
.humanity li img{
	width:200px; 
	height: 160px;
}
.humanity li p{
	line-height: 24px; 
	overflow: hidden; 
	text-align: center;
}
.qzyx{text-align: center; line-height: 28px;border-bottom: 1px dashed #333;font-size: 16px;margin-bottom: 15px;}
.bg1 .ms ,.bg1 .ms A{color: #fff;}
/*=========首页--大图焦点幻灯========*/
.slider{ width:100%; margin:0 auto 0px auto;  position:relative; overflow:hidden;   height:536px;; background:#a40035;  }
	.slider .bd{ position:relative; z-index:0; text-align: center;}
	.slider .bd li{height:536px; overflow:hidden; }
	.slider .bd li img{ display:block; width: 100%;height:536px;margin: 0 auto;}

	.slider .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; }
	.slider .hd ul{ text-align:center;  }
	.slider .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:9px; height:9px; margin:0 4px; 
		background:url(../images/home/dot.png) 0 -16px;
		overflow:hidden;  filter:alpha(opacity=70);opacity:0.7;  vertical-align:top; line-height:9999px; 
	}
	.slider .hd ul .on{ background-position:0 0;  }
	.slider .timer{ position:absolute; z-index:1; left:0; bottom:0; height:4px; width:0; background:#000; filter:alpha(opacity=40);opacity:0.4; font-size:0; overflow:hidden;   }
/*=========首页--新闻焦点幻灯========*/
.slideBox{ width:498px; height:298px; overflow:hidden; position:relative; border:1px solid #ddd;  }
		.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
		.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
		.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
		.slideBox .hd ul li.on{ background:#f00; color:#fff; }
		.slideBox .bd{ position:relative; height:100%; z-index:0;   }
		.slideBox .bd li{ zoom:1; vertical-align:middle; }
		.slideBox .bd img{ width:498px; height:298px; display:block;  }
.tabImgTxt{float:left;width:510px; eight:150px;margin:0px 10px 15px 0px;}
.tabImgTxt img{float: left;width:200px; height:150px;margin-right: 5px;}
.tabImgTxt p{text-indent: 2em; height:120px; line-height: 30px; overflow: hidden; color: #666;}
.tabImgTxt h3{font-size: 16px; line-height:35px; color: #0089FB}
.temp{height:160px; padding-bottom:5px; margin-bottom: 5px; border-bottom: 1px dashed #ccc; overflow: hidden;}
.temp img{width:300px; height: 150px;}
.temp h5{font-size: 16px; line-height: 35px;}
.temp p{line-height: 28px;height:115px; overflow: hidden;}
/*=========内容页========*/
.page h2{line-height: 29px; border-bottom: 3px solid #eee;color: cornflowerblue}
.sidebar{
	border:1px solid #018AFB;
	border-top-width:2px;
}
.sidebar_tit{
	font-size:16px;
	color:#018AFB;
	line-height:32px;
	border-bottom: 1px solid #018AFB;
	background:#CEDAF7;
	padding-left:10px;
}
.sidebar_tit i{
	font-style:normal;
	font-size:12px;
	color:#F60;
	float:right;
	padding-right:10px;
}
.sidebar_tit i a{
	color:#F60;
}
.sidebar_cont{
	padding:4px;
}

.hot {
	position: relative;
	width: 280px;
	height:150px;
	overflow: hidden;
}
.hot .pic img {
	display: block;
	width:280px;
	height:150px;
	overflow: hidden;
}
.hot .txt-bg {
	position: absolute;
	bottom: 5px;
	z-index:1;
	height:28px;
	width:280px;
	background: #333;
	filter: alpha(opacity=40);
	opacity: 0.4;
	overflow: hidden;
}
.hot .txt {
	position: absolute;
	bottom: 0;
	z-index: 20;
	height: 28px;
	width: 100%;
	overflow: hidden;
}
.hot .txt li {
	height: 28px;
	line-height: 28px;
	position: absolute;
	bottom: -28px;
}
.hot .txt li a {
	display: block;
	color: #fff ;
	padding: 0 0 0 10px;
}
.hot .num {
	position: absolute;
	z-index: 3;
	bottom: 8px;
	right: 8px;
}
.hot .num li {
	float: left;
	position: relative;
	width: 18px;
	height: 5px;
	line-height: 5px;
	overflow: hidden;
	text-align: center;
	margin-right: 1px;
	cursor: pointer;
}
.hot .num li a,
.hot .num li span {
	position: absolute;
	z-index: 2;
	display: block;
	color: white;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
}
.hot .num li span {
	z-index: 1;
	background: black;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.hot .num li.on a,
.hot .num a:hover {
	background: #f60;
}
	
.hot_txtlist li{
	line-height:28px;
	height:28px;
	overflow:hidden;
	text-indent:20px;
	background: url(../images/li_1.gif) no-repeat 10px center;
}
.hot_txtlist img{
	width:280px;
	height:100px;
}
.hot_piclist{
	overflow:hidden;
}
.hot_piclist li, 
.hot_piclist li img {
	width: 120px;
	height: 80px;
}
.hot_piclist li img {
	vertical-align: bottom;
}
.hot_piclist li {
	float: left;
	margin-left: 9px;
	margin-right:9px;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.hot_piclist li p {
	height: 24px;
	line-height: 24px;
	position: relative;
	margin-top: -24px;
	background: url(../images/touming_hei.png);
	z-index: 888;
	text-align: center;
	overflow: hidden;
}
.hot_piclist li p a {
	color: #fff;
}
.content {
	padding: 14px 9px 9px 9px;
	height: 100%;
	overflow: hidden;
}
.article_show h1 {
	margin: 1px;
	line-height: 1.4em;
	text-align: center;
	color: #353535;
	font-family: '微软雅黑';
	padding: 20px 10px;
	padding-top: 0px;
	margin: 0 10px;
	font-size: 26px;
	font-weight: normal;
}
.article_show .about {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
	color: #757575;
	border-bottom: 1px dashed #ccc;
}
.article_show .about span {
	padding: 0 2px;
	color: #F30;
	font-family: Arial, Helvetica, sans-serif;
}
.article_show .body {
	font-size: 14px;
	margin: 10px 30px;
	color: #5a4e46;
	line-height: 1.8em;
	overflow: hidden;
}
.article_show .body p {
	margin: 15px 0;
}
.article_show .body img{ max-width:780px;}
.article_show .up_down {
	border-top: 1px dashed #ccc;
	margin: 15px 0px;
	margin-bottom: 20px;
}
.article_show .up_down p {
	line-height: 28px;
}
.page_txtlist{
	width:700px;
	margin:0 auto;
}
.page_txtlist li{
	line-height:32px;
	overflow:hidden;
	text-indent:20px;
	background: url(../images/li_1.gif) no-repeat 10px center;
	border-bottom: 1px dashed #eee;
}
.page_txtlist li i{
	font-style:normal;
	float:right;
	color:#5ea7e6;
}
.page_piclist li{
	float:left;
	width:210px;
	border: 1px solid #ccc;
	padding:4px;
	margin-left:15px;
	margin-bottom:10px;
}
.page_piclist li img{
	width:210px;
	height:160px ;
}
.page_pictxtlist .item {
	border-bottom: 1px dashed #ccc;
	margin: 14px 25px;
	height: 100%;
	padding-bottom: 15px;
	margin-bottom: 12px;
	overflow: hidden;
	}
.page_pictxtlist .item .img {
	float: left;
	display: inline;
	width: 140px;
	background: #eee;
	height: 90px;
	border: #ccc solid 1px;
	padding: 3px;
	overflow: hidden;
}
.page_pictxtlist .item .img img {
	width: 140px;
	height: 90px;
}
.page_pictxtlist .item .text {
	float: right;
	display: inline;
	width: 500px;
	height: 100px;
	overflow: hidden;
}
.page_pictxtlist .item .text .tit {
	height: 38px;
	line-height: 38px;
	margin-top: 4px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}	

.zoomed > .gallery{-webkit-filter:blur(3px);filter:blur(3px);}
.gallery{width:1050px;margin:20px auto;}
.gallery li{float:left;width:330px; height:200px;padding:10px;}
.gallery li a,.gallery li img{float:left;width: 330px; height:200px;}
